@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);

html {
  height: 100%;
  background: #001709; /* Old browsers */
  background: linear-gradient(135deg, #001709 0%, #055426 100%);

  .app {
    max-width: 750px;
    margin: 150px auto 0;
    @color: #f2f2f2;
    color: @color;
    -webkit-font-smoothing: antialiased;

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid hsl(0, 0%, 30%);

      &:hover {
        border-bottom-color: @color;
      }
    }

    h1 {
      background-color: #303030;
      padding: 20px 0;
      margin: 0;
      text-align: center;
      font-family: Ubuntu;
      font-weight: 500;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }

    .main-box {
      padding: 35px;
    }

    footer {
      position: absolute;
      bottom: 9%;
      font-family: Roboto, sans-serif;
      opacity: .6;
      text-align: center;
      margin: 0 auto;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 1000px) {
  html {
    .app {
      margin-top: 0px;

      h1 {
        font-size: 24px;
      }
    }
  }
}
